.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .flight-section  {
    width: 40px;
    height: 40px;
    
    
  }
  .price-section {
    border-left: 2px solid #e5e5e5;
    
  }
  .priceCard {
    font-size: 1.4rem;
    font-weight: bold;
    color: #007bff;
  }
  .subtitle {
    font-size: 0.9rem;
    color: #6c757d;
  }

  .divAeorlinea {
    margin-left: 25px;
    margin-top: 25px;
    
    

  }

 
  