/*estilos del body Rudy*/
   
body{
        background-color: #BBCAFF;
    }
/*estilos del body Rudy*/

/*estilos de las promociones y suscripciones Rudy*/
.promos_cards{
    margin-top: 50px;
    margin-bottom: 10px;
}
.bgg-image {
    background-image: url(../images/bgfirstpartt.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}

.imgedit {
    max-width: 100%;
    height: 63%;
}

.edit {
    color: darkblue;
    font-weight: bolder;
    margin-top: 37px;
}

.form-edit {
 display: flex;
 flex-direction: row;
 
} 

.bg-boxes{
   background-color: rgb(255, 255, 255);
   border:  2px solid blue;
}

.btn-edit  {
    width: 122px;
    height: 36px;
    margin-top: 26px;
    border-radius: 6px;
}

.form2-edit {
    width: 252px;
    margin-left: 550px;
    margin-top: 36px;
}

.form-edit3 {
    margin-left: 332px;
}

.linktext-edit ::first-line{
    color: rgb(255, 255, 255);
}

.btn-edit2{
    color: white;
}



/*estilos del contenedor de suscripción Rudy*/
.subscription-container {
    background-color: #d1d1f1;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.subscription-container div {
    margin: 0 10px;
}
.parrafo{
    font-size: 20px;
}
.subscription-container input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 650px;
}
.subscription-container button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.subscription-container button:hover {
    background-color: #444;
}
.terms {
    font-size: 12px;
    color: #000;
}
/*fin estilos del contenedor de suscripción Rudy*/
/*estilos de las promociones y suscripciones Rudy*/